body {
	background-color: white;
}

.container {
	background-color: white;
	margin: auto;
	width: 70%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	margin-top: 150px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Sombra */
}

h1 {
	color: black;
	font-size: 36px;
    text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-size: 20px;
	margin-top: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
    background-color: black;
    color: white;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	margin-top: 10px;
}
