nav {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-flex;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav li.search input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

nav li.search button[type="submit"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

nav li.right a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav li.right a:hover {
  background-color: white;
  color: black;
}


/*estilo tabla*/

.table-container {
  display: flex;
  justify-content: center;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #dee2e6;
}

th {
  background-color: #212121;
}

tbody tr:nth-child(even) {
  background-color: #444;
}

tbody tr:hover {
  background-color: #333;
}

@media screen and (max-width: 510px) {
  table {
    font-size: 0.875rem;
  }
}

h1{
  text-align: center;
}

.btnAbonar {
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btnActualizar {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btnEliminar {
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btnPrestamoDeuda {
  background-color: orange;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

#total-input {
  background-color: lightgray;
  color: black;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}



/*selecionar opciones*/

.my-select {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px;
}


.my-select option {
  color: black; /* change to the color you prefer */
  background-color: white; /* change to the color you prefer */
  font: 110% Arial;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}